compiler:
    # version: true
    # zip: [
    #     'app.js'
    #     'source/'
    # ]
    copy:
        files: ["app.js"]
        dest:
            relative: "../public"
# browserify:
#     excludes: []
